<%- include('./layout/cabecera.ejs') %> 

<br>
    <div class="text-center">
        <a href="/clientes" class="btn btn-primary" type="button">Clientes</a>
        <a href="/municipios" class="btn btn-primary" type="button">Municipios</a>
    </div>


    <%- include('./layout/pie.ejs') %> 